html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    color: white;
    background: black;
    font-size: 4em;
    text-align: center;
    font-family: sans;
}
