<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:description" content="Frame Terminal">

    <title>Frame Terminal</title>

    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/screen.css" media="screen" />
  </head>

  <body>
    <p id="message">To use this, type /frame URL in Slack. :)</p>
  </body>
</html>
