<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:description" content="Frame Terminal">

    <title>Frame Terminal</title>

    <script src="http://app.fra.me/embed/frame_app.js"></script>
    <script src="http://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/screen.css" media="screen" />
  </head>

  <body>
    <p id="message">Loading...</p>
    <input id="app" type="hidden" value="{{ app }}" /> 

    <script src="/static/js/main.js"></script>
  </body>
</html>
